section(class="section" name="contributors")
    div(class="container")
        h1(class="title has-text-light") Contributors
        p(class="has-text-light")
        | Throughout its lifetime, these people have contributed to the Aprilon community in form of leadership, administration and development.

        //https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/eebe589599f056fc07e9a8c15d3e151765bba66c_medium.jpg

        div(class="columns cards is-multiline" style="margin-top: 20px")

        //div(class="columns is-multiline is-mobile" style="margin-top:20px")
        //    div(class="column is-one-third")
        //        div(class="card")
        //            div(class="avatar is-online is-pulled-left")
        //                img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/eebe589599f056fc07e9a8c15d3e151765bba66c_medium.jpg")
        //
        //            div(class="details is-pulled-left")
        //                    p(class="name is-size-4")="Labby the student"
        //                    p(class="heading")="Developer"
        //
        //            div(style="display:inline-block" class="is-pulled-right")
        //                p Buttons
        //
        //
        //    div(class="column is-one-third card")
        //        div(class="avatar is-online is-pulled-left")
        //            img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/eebe589599f056fc07e9a8c15d3e151765bba66c_medium.jpg")
        //
        //        div(class="details is-pulled-left")
        //            p(class="name is-size-4")="Labby the student"
        //            p(class="heading")="Developer"
        //
        //        div(style="display:inline-block" class="is-pulled-right")
        //            p Buttons


