section(class="section" name="contributors")
    div(class="container")
        h1(class="title has-text-light") Contributors
        p(class="has-text-light")
        | Throughout its lifetime, these people have contributed to the Aprilon community in form of leadership, administration and development.

        div(class="columns cards is-multiline section-spacing")


