section(class="section")
    div(class="container")
        h1(class="title has-text-light") Contributors
        p(class="has-text-light")
        | Throughout its lifetime, these people have contributed to the Aprilon community in form of leadership, administration and development.

        div(class="cards")

        // https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/eebe589599f056fc07e9a8c15d3e151765bba66c_medium.jpg

